.modal-cart__content {
  width: 37%;
  top: 372px;
  padding-bottom: 54px;
  background-color: $white-color;

  @media (max-width: $tablet-width-max) {
    width: 65%;
    top: 258px;
  }

  @media (max-width: $mobile-width-max) {
    width: 90%;
    top: 118px;
    padding-bottom: 46px;
  }
}

.modal-cart__wrapper {
  padding-top: 53px;
  width: 85%;

  @media (max-width: $tablet-width-max) {
    width: 89%;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 40px;
  }
}

.modal-cart__overlay {
  background-color: $cart-overlay-color;
}

.modal-cart__close {
  top: 13px;
  right: 16px;
  bottom: 90%;

  @media (max-width: $tablet-width-max) {
    top: 9px;
    right: 15px;
  }

  @media (max-width: $mobile-width-max) {
    top: 4px;
    right: 9px;
    bottom: 93%;
  }
}

.modal-cart__content h3 {
  margin: 0;
  margin-bottom: 49px;
  font-family: "Cormorant Garamond", "Times", serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 39px;
    margin-right: auto;
    margin-left: auto;
    max-width: 187px;
    font-size: 24px;
  }
}

.modal-cart__main {
  display: flex;
  margin-bottom: 40px;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 28px;
  }
}

.modal-cart__img {
  margin-right: 15px;
  width: 88px;
  height: 79px;

  @media (max-width: $tablet-width-max) {
    margin-right: 21px;
  }

  @media (max-width: $mobile-width-max) {
    margin-right: 15px;
    width: 70px;
    height: 63px;
  }
}

.modal-cart__counter {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  span {
    margin-bottom: 8px;
    padding-left: 6px;
    font-size: 18px;

    @media (max-width: $tablet-width-max) {
      margin-bottom: 4px;
      padding-left: 3px;
    }

    @media (max-width: $mobile-width-max) {
      margin-bottom: 0;
      padding-left: 6px;
      font-size: 16px;
    }
  }
}

.modal-cart__title h2 {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 17px;

  @media (max-width: $mobile-width-max) {
    font-size: 15px;
  }
}

.modal-cart__title p {
  margin: 0;

  @media (max-width: $mobile-width-max) {
    font-size: 15px;
  }
}

.modal-cart__counter-button {
  display: block;
  position: relative;
  width: 14px;
  height: 14px;
  border: 0;
  background-color: transparent;

  &--incr {
    margin-bottom: 11px;

    @media (max-width: $tablet-width-max) {
      margin-bottom: 15px;
    }

    @media (max-width: $mobile-width-max) {
      margin-bottom: 13px;
    }

    &::after,
    &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 8px;
    width: 2px;
    height: 14px;
    background-color: $search-color;

    @media (max-width: $tablet-width-max) {
      top: 0px;
      left: 5px;
    }
  }

    &::after {
      transform: rotate(-90deg);
    }
  }

  &--decr {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 8px;
      width: 2px;
      height: 14px;
      background-color: $search-color;
      transform: rotate(-90deg);

      @media (max-width: $tablet-width-max) {
        top: 4px;
        left: 5px;
      }
    }
  }
}

.modal-cart__container {
  padding-top: 14px;
  width: 85%;

  @media (max-width: $tablet-width-max) {
    width: 89%;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 16px;
  }
}

.modal-cart__bottom {
  border-top: 1px solid $grey-line-color;
}

.modal-cart__parameters {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 31px;
  font-size: 14px;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    margin-bottom: 26px;
    font-size: 12px;

    dt {
      margin-bottom: 5px;
    }

    dd {
      margin: 0;
    }
  }

  dt {
    font-weight: 400;
  }
}

.modal-cart__buttons {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }
}

.modal-cart__button {
  padding-top: 25px;
  padding-bottom: 18px;
  width: 47%;
  border: none;
  color: $white-color;
  background-color: $mobile-header;
  cursor: pointer;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }

  &--shop {
    background-color: transparent;
    color: $text-color;
    border: 1px solid $mobile-header;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 20px;
    }
  }
}
