.new-products {
  position: relative;
  padding-top: 130px;
  padding-bottom: 65px;

  @media (max-width: $tablet-width-max) {
    padding-top: 80px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 70px;
    padding-bottom: 64px;
  }
}

.new-products h2 {
  margin-bottom: 10px;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 27px;
  }
}

.new-products__description {
  margin-bottom: 58px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 42px;
  }
}

.new-products__list {
  margin-bottom: 50px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 37px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 26px;
  }
}

.new-products__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 6px;
  }

  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.new-products__button {
  background-color: transparent;
  width: 29px;
  height: 10px;
  background-image: url("../img/icon-swiper-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;

  &--prev {
    transform: scale(-1, 1);
  }

  @media (max-width: $tablet-width-max) {
    width: 36px;
    height: 12px;
    background-size: cover;
  }
}

.new-products__pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 48px;

  @media (max-width: $tablet-width-max) {
    max-width: 118px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 50px;
  }

  &--card {
    margin-bottom: 55px;

    @media(max-width: $tablet-width-max) {
      margin-bottom: 10px;
    }
  }
}
