.new-products {
  position: relative;
  padding-top: 130px;
  padding-bottom: 65px;
}

.new-products h2 {
  margin-bottom: 10px;
}

.new-products__description {
  margin-bottom: 58px;
}

.new-products__list {
  display: flex;
  margin-bottom: 50px;
}

.new-products__item {
  text-align: center;
}

.new-products__link {
  display: block;
}

.new-products__link img {
  display: block;
  margin-bottom: 20px;
}

.new-products__item-title {
  margin: 0;
  color: $text-color;
}

.new-products__item-price {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: $text-color;
}

.new-products__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.new-products__button {
  background-color: transparent;
  width: 29px;
  height: 10px;
  background-image: url("../img/icon-swiper-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;

  &--next {
    transform: scale(-1, 1);
  }
}

.new-products__pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 48px;
}
