.page-header__inner {
  padding-top: 30px;

  @media (max-width: $tablet-width-max) {
    &--nojs {
      .page-header__toggle {
        display: none;
      }

      .page-header__nav {
        display: block;
      }
    }

    &--js {
      .page-header__toggle {
        display: block;
      }
    }

    &--opened {
      position: fixed;
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      background-color: $mobile-header;

      .page-header__logo {
        margin-bottom: 34px;
      }

      .page-header__logo svg {
        fill: $white-color;
      }

      .page-header__toggle {
        background-color: transparent;

        &::before,
        &::after {
          width: 23px;
          top: 22px;
          left: 13px;
          background-color: $white-color;
        }

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          transform: rotate(-45deg);
        }

        &::before {
          transform: rotate(45deg);
        }
      }

      .page-header__cart svg {
        stroke: $white-color;
      }
    }

    &--closed {
      padding-bottom: 24px;

      .page-header__top {
        margin-bottom: 0;

        form {
          display: none;
        }
      }

      .page-header__nav {
        display: none;
      }

      .page-header__toggle {
        &::before {
          box-shadow: 0 8px 0 0 $text-color, 0 16px 0 0 $text-color;
        }
      }

      .page-header__cart svg {
        stroke: $text-color;
      }
    }

    &--closed-nojs {
      padding-bottom: 3px;
      background-color: $mobile-header;

      .page-header__nav {
        display: block;
      }

      .page-header__logo {
        margin-bottom: 34px;
      }

      .page-header__logo svg {
        fill: $white-color;
      }

      .page-header__cart svg {
        stroke: $white-color;
      }

      .page-header__top form {
        display: flex;
        margin-bottom: 34px;
      }
    }
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 14px;

    &--closed {
      padding-bottom: 7px;
    }

    &--opened {
      .page-header__logo {
        margin-bottom: 17px;
      }
    }
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width-max) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 23px;
  }
}

.page-header__search {
  margin-right: 15px;

  @media (max-width: $tablet-width-max) {
    position: absolute;
    top: 12px;
    left: 12px;

    svg {
      fill: $white-color;
    }
  }
}

.page-header__top input {
  border: none;
  outline: none;
  color: $search-color;

  @media (max-width: $tablet-width-max) {
    padding-left: 50px;
    padding-right: 50px;
    height: 40px;
    background-color: $search-mobile-color;
    color: $white-color;

    &::placeholder {
      font-size: 0;
    }
  }
}

.page-header__top form {
  display: flex;
  position: relative;
  align-self: center;
  padding-bottom: 19px;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    order: 4;

    input {
      width: 100%;
      border-radius: 21px;
    }
  }
}

.page-header__user {
  position: relative;
  top: 11px;

  @media (max-width: $tablet-width-max) {
    top: 24px;
  }
}

.page-header__user a {
  color: $text-color;
}

.page-header__logo {
  margin: 0 auto;
  position: relative;
  right: 44px;

  @media (max-width: $tablet-width-max) {
    right: 15px;
  }
}

.page-header__logo svg {
  fill: $mobile-header;

  @media (max-width: $mobile-width-max) {
    width: 52px;
  }
}

.page-header__login {
  margin-right: 35px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__cart {
  svg {
    display: none;

    @media (max-width: $tablet-width-max) {
      display: block;
      fill: none;
    }
  }

  @media (max-width: $tablet-width-max) {
    display: flex;
    position: relative;
    font-size: 0;
  }
}

.page-header__nav {
  padding-bottom: 19px;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 75px;
  }
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 493px;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    margin: 0;
    margin-bottom: 45px;
    font-size: 24px;
  }
}

.page-header__nav a {
  color: $text-color;

  @media (max-width: $tablet-width-max) {
    color: $white-color;
  }
}

.page-header__item:not(:last-child) {
  margin-right: 35px;

  @media (max-width: $tablet-width-max) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.page-header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 195px;
  padding-bottom: 194px;
  background-image: url("../img/header-main-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Cormorant Garamond", "Times", serif;
  color: $white-color;
  background-color: $mobile-header;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-main-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    background-position: center center;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 202px;
    padding-bottom: 200px;
  }
}

.page-header__bottom h2 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 13px;
    font-size: 38px;
  }
}

.page-header__bottom p {
  margin: 0;
  font-size: 38px;
  font-weight: 400;
  font-style: italic;

  @media (max-width: $mobile-width-max) {
    font-size: 34px;
  }
}

.page-header__bottom-catalog {
  padding-top: 102px;
  padding-bottom: 96px;
  background-image: url("../img/header-catalog@1x.jpg");

  h2 {
    margin-bottom: 15px;
    font-size: 34px;
  }
  p {
    font-size: 22px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-catalog@2x.jpg");
  }
}

.page-header__toggle {
  display: none;

  @media (max-width: $tablet-width-max) {
      position: relative;
      top: 9px;
      right: 12px;
      width: 50px;
      height: 50px;
      border: none;
      background-color: transparent;

    &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 12px;
        width: 24px;
        height: 2px;
        background-color: $text-color;
        transition-property: transform, box-shadow, top;
        transition-duration: 0.3s;
      }
    }
  }

.page-header__sub-elements {
  display: none;

  @media (max-width: $tablet-width-max) {
    display: block;
    font-size: 18px;
  }
}

.page-header__sub-nav {
  margin-bottom: 43px;
}

.page-header__sub-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  a {
    opacity: 0.8;
  }
}

