.page-catalog {
  padding-top: 81px;

  @media (max-width: $tablet-width-max) {
    padding-top: 51px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 41px;
  }
}

.page-catalog__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 8px;
  }
}

.page-catalog__filter {
  margin-right: 50px;
  width: 250px;
  height: max-content;

  &--mobile {
    position: fixed;
    width: 40%;
    top: 20px;
    left: 0;
    padding-bottom: 25px;
    z-index: 100;
    box-shadow: 0px 5px 32px $filter-mobile-border;

    @media (max-width: $mobile-width-max) {
      width: 90%;
      left: auto;
      right: auto;
    }

    .page-catalog__filter-fieldset {
      border-right: none;
      border-left: none;

      &:first-child {
        border-top: none;
      }
    }

    .page-catalog__filter-button {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 80%;
    }
  }

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-catalog__filter-close {
  display: none;

  @media (max-width: $tablet-width-max) {
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    top: -12px;
    right: -12px;
    border-radius: 50%;
    border: none;
    background-color: $footer-background-color;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 13px;
      width: 2px;
      height: 14px;
      border-radius: 3px;
      background-color: $white-color;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }
}

.page-catalog__filter-overlay--active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white-color;
  z-index: 1;
}

.page-catalog__filter-main {
  margin-bottom: 37px;
}

.page-catalog__filter-fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-right: 21px;
  padding-bottom: 21px;
  padding-left: 24px;
  border-top: 1px solid $mobile-header;
  border-right: 1px solid $mobile-header;
  border-left: 1px solid $mobile-header;

  &::after {
    position: absolute;
    content: url("../img/icon-arrow-faq.svg");
    top: 20px;
    right: 23px;
  }

  &:last-child {
    border-bottom: 1px solid $mobile-header;
  }

  &--opened {
    &:last-child {
      padding-bottom: 47px;

      .page-catalog__filter-fieldset h3 {
          margin-bottom: 23px;
      }
    }

    .page-catalog__filter-list {
      display: block;
    }
  }

  &--closed {
    padding-bottom: 5px;

    .page-catalog__filter-list {
      display: none;
    }

    &::after {
      top: 20px;
      right: 23px;
      transform: scale(1, -1)
    }
  }
}

.page-catalog__filter-option {
  padding-left: 35px;
}

.page-catalog__filter-list label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.page-catalog__filter-list input + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  width: 15px;
  height: 15px;
  border: 1px solid $mobile-header;
}

.page-catalog__filter-list input:checked + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-color: $mobile-header;
}

.page-catalog__filter-option {
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.page-catalog__filter-fieldset h3 {
  position: relative;
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

.page-catalog__filter-scale {
  height: 2px;
  background: $blog-background-color;
}

.page-catalog__filter-bar {
  margin-left: 47px;
  width: 57%;
  height: 2px;
  background: $mobile-header;
}

.page-catalog__filter-toggle {
  position: absolute;
  top: 80px;
  font-size: 14px;

  &::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 7px solid $mobile-header;
  border-radius: 50%;
  cursor: pointer;
  }

  &--min {
    left: 61px;

    &::after {
      left: 8px;
    }
  }

  &--max {
    right: 48px;

    &::after {
      left: 10px;
    }
  }
}

.page-catalog__filter-button {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;

  &--apply {
    margin-bottom: 25px;
    background-color: $mobile-header;
    color: $white-color;
  }

  &--clear {
    background-color: $white-color;
    border: 1px solid $mobile-header;
  }
}

.page-catalog__list {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  grid-auto-rows: auto;
  row-gap: 34px;
  column-gap: 30px;

  @media (max-width: $tablet-width-max) {
    grid-template-columns: 206px 206px 206px;
  }

  @media (max-width: $mobile-width-max) {
    grid-template-columns: auto auto;
    align-self: center;
    row-gap: 22px;
  }
}

.page-catalog__list img {
  width: 100%;
  height: 272px;

  @media (max-width: $tablet-width-max) {
    height: 208px;
  }

  @media (max-width: $mobile-width-max) {
    height: 136px;
  }
}

.page-catalog__nav {
  padding-top: 28px;
  padding-bottom: 73px;
  border-top: 1px solid $grey-line-color;

  @media (max-width: $mobile-width-max) {
    padding-bottom: 64px;
  }
}

.page-catalog__nav .page-catalog__nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  max-width: 870px;
}

.page-catalog__pagination-list {
  display: flex;
  max-width: 96px;

  @media (max-width: $mobile-width-max) {
    margin-left: 77px;
  }
}

.page-catalog__pagination-item {
  a {
    color: $search-color;
  }

  &:not(:last-child) {
    margin-right: 23px;
  }

  &--current {
    a {
      color: $text-color;
    }
  }
}

.page-catalog__button {
  color: $text-color;

  @media(max-width: $mobile-width-max) {
    display: none;
  }
}

.page-catalog__summon-button {
  display: none;
  margin-bottom: 50px;
  background-color: $mobile-header;
  color: $white-color;

  @media (max-width: $tablet-width-max) {
    display: block;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 40px;  }
}
