.page-header {
  padding-top: 30px;
}

.page-header__top {
  display: flex;
  margin-bottom: 37px;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width-max) {
    flex-wrap: wrap;

    &--opened {
      // position: fixed;
      // height: 100vh;
      // overflow-y: scroll;

      .page-header__toggle {
        background-color: transparent;

        &::before,
        &::after {
          width: 23px;
          top: 22px;
          left: 13px;
        }

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          transform: rotate(-45deg);
          background-color: $text-color;
        }

        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.page-header__search-svg {
  margin-right: 15px;
}

.page-header__top input {
  border: none;
  outline: none;
  color: $search-color;
}

.page-header__top form {
  display: flex;
  align-self: center;
  margin-right: 345px;
  padding-bottom: 19px;

  @media (max-width: $tablet-width-max) {
    order: 4;
  }
}

.page-header__user {
  padding-bottom: 22px;
  align-self: center;
}

.page-header__user a {
  color: $text-color;
}

.page-header__logo {
  margin-right: 429px;
}

.page-header__login {
  margin-right: 35px;
}

.page-header__nav {
  padding-bottom: 19px;
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 493px;
}

.page-header__item a {
  color: $text-color;
}

.page-header__item:not(:last-child) {
  margin-right: 35px;
}

.page-header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 195px;
  padding-bottom: 194px;
  background-image: url("../img/header-main-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Cormorant Garamond", "Times", serif;
  color: $white-color;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-main-desktop@2x.jpg");
  }
}

.page-header__bottom h2 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.page-header__bottom p {
  margin: 0;
  font-size: 38px;
  font-weight: 400;
  font-style: italic;
  text-transform: lowercase;
}

.page-header__toggle {
  display: none;

  @media (max-width: $tablet-width-max) {
    display: block;

    @media (max-width: $tablet-width-max) {
      display: block;
      position: relative;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border: none;
      background-color: transparent;

      &::before {
        content: "";
        position: absolute;
        top: 19px;
        left: 14px;
        width: 22px;
        height: 2px;
        background-color: $text-color;
        transition-property: transform, box-shadow, top;
        transition-duration: 0.3s;
      }
    }
  }
}

