.page-gallery {
  padding-top: 69px;
  padding-bottom: 130px;
}

.page-gallery h2 {
  margin-bottom: 38px;
}

.page-gallery__description {
  margin-bottom: 63px;
}

.page-gallery__list {
  display: grid;
  grid-template-columns: 230px 399px 230px 230px;
  grid-template-rows: 230px 150px;
  row-gap: 34px;
  column-gap: 27px;

  @media (max-width: $tablet-width-max) {
    grid-template-columns: 133px 231px 133px 133px;
    grid-template-rows: 133px 87px;
    row-gap: 20px;
    column-gap: 16px;
  }
}

.page-gallery__item {
  &:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2/3;  }
}
