.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 1;

  @media (max-width: $mobile-width-max) {
    max-width: 290px;
  }
}

.swiper-pagination-bullet {
  color: $search-color;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  color: $text-color;
}
