.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  // padding-left: 98px;
  // padding-right: 98px;

  @media (max-width: $tablet-width-max) {
    max-width: 678px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
