$text-color:#1D1613;
$white-color: #ffffff;
$search-color: #9B9997;
$mobile-header: #a87b62;
$search-mobile-color: rgba(255, 255, 255, 0.15);
$footer-background-color: #000000;
$blog-background-color: #f0eae4;
$grey-line-color: #f6f5f4;
$filter-mobile-border: rgba(219, 213, 208, 0.24);
$cart-overlay-color: rgba(29, 22, 19, 0.25);

$main-font-family: "Roboto Condensed", "Arial", sans-serif;

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;

$container-desktop-width: 1412px;

$img-path: "../img/";
