$text-color:#1D1613;
$white-color: #ffffff;
$search-color: #9B9997;
$mobile-header: #a87b62;
$search-mobile-color: rgba(255, 255, 255, 0.15);
$footer-background-color: #000000;
$blog-background-color: #f0eae4;

$main-font-family: "Roboto Condensed", "Arial", sans-serif;

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;

$container-desktop-width: 1412px;

$img-path: "../img/";
